@page {
  size: A4;
}

body {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.btn-print {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

article {
  display: block;
  font-size: 13.0736px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 1090.41px;
}

article #my_name {
  font-size: 2.86em;
  font-weight: 600;
  letter-spacing: -0.5px;
}

article h1 {
  color: #2079c7;
  font-size: 1.43em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}

article p {
  margin-bottom: 1em;
}

article p:last-child {
  margin-bottom: 0;
}

article ul {
  padding-left: 20px;
}

article header,
article .resume__section {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}

article header {
  padding: 6em 4em 0;
}

article .resume__section {
  margin-bottom: 4em;
}

article .resume__section:last-child {
  padding-bottom: 0;
}

article .resume__section-title {
  display: flex;
  align-items: center;
  margin-bottom: 1.43em;
}

article .resume__section-title>i {
  margin-right: 0.63em;
  font-size: 1.14em;
  background-color: #5695cd;
  color: #fff;
  border: 0.25em solid #aacae6;
  border-radius: 50%;
  width: 2.51em;
  height: 2.51em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

article .resume__columns {
  overflow: hidden;
  padding: 4em;
  padding-top: 0;
}

article .resume__main {
  float: left;
  width: 75%;
  padding-right: 3em;
  text-align: justify;
}

article .resume__side {
  float: left;
  width: 25%;
}

article .info-item {
  margin-bottom: 0.2em;
  font-weight: 300;
}

article .info-item:last-child {
  margin-bottom: 0;
}

article .info-label {
  display: inline-block;
  padding-right: 0.63em;
  font-size: 1.14em;
  min-width: 2.19em;
  text-align: center;
}

article .info-label i {
  color: #5695cd;
}

article .items {
  margin-bottom: 4em;
}

article .items:last-child {
  margin-bottom: 0;
}

article h2 {
  font-size: 1.4em;
  font-weight: 1000;
  line-height: 1.25;
}

article h3 {
  font-size: 1.1em;
  font-style: italic;
}

article h3 strong {
  font-family: 'Merriweather', serif;
}

article .highlight {
  font-size: 0.9em;
  margin-top: 0.3em;
  margin-bottom: 1em;
  color: #e91d63;
}

article .details {
  padding-left: 15px;
}

article .extra {
  margin-bottom: 2em;
}

article .extra:last-child {
  margin-bottom: 0;
}

article .extra-info small {
  color: #e91d63;
  display: inline-block;
  font-size: 0.8em;
}

article .extra-details,
article .extra-details__progress {
  border-radius: 6px;
}

article .extra-details {
  margin-top: 0.5em;
  background-color: #d1d9e1;
  width: 100%;
  height: 5px;
  position: relative;
}

article .extra-details__progress {
  background-color: #5695cd;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

article .lang-item {
  margin-bottom: 2em;
}

article .lang-item:last-child {
  margin-bottom: 0;
}

article .lang-label {
  width: 8em;
}

@media print {
  body {
    min-width: initial !important;
  }

  .btn-print {
    display: none;
  }
}