<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume - {{ data.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8b4bb33780.js" crossorigin="anonymous"></script>
</head>
<body class="A4">
    <div class="sheet">
        <button type="button" id="info-button" class="btn btn-sm btn-light avoid-print" onClick="document.getElementById('contact-info').toggleAttribute('hidden');">
            <i class="fa fa-info"></i>
        </button>
        <button type="button" id="eye-button" class="btn btn-sm btn-light avoid-print" data-bs-toggle="modal"  data-bs-target="#visible">
            <i class="fa fa-eye"></i>
        </button>
        <button type="button" id="export-button" class="btn btn-sm btn-light avoid-print" onClick="ExportToDoc('main', '{{ data.name }}\'s Resume');">
            <i class="fa fa-file-export"></i>
            Export to Word
        </button>
        <button type="button" id="print-button" class="btn btn-sm btn-light avoid-print" title="Select 'Save as PDF' and Margins 'Default'" onClick="window.print();">
            <i class="fa fa-print"></i>
            Print
        </button>
        <div class="modal fade" id="visible" tabindex="-1" aria-labelledby="visibleLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hidden Experiences and Educations</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                    <div class="modal-body">
                        <ul id="hidden-items-list" class="list-group list-group-flush">
                            {% for experience in data['experiences'] %}
                                {% set experience_loop = loop %}
                                {% for instance in experience.experiences %}
                                    <li id="experience-{{experience_loop.index }}-{{ loop.index }}-hidden" class="list-group-item d-flex justify-content-between {% if not instance.hidden %} hidden-items{% endif %}">
                                        {{ experience.entity }} - {{ instance.title_name }}
                                        <span class="eye-label avoid-print" onclick="toggleItemVisibility('experience-{{ experience_loop.index }}-{{ loop.index }}-hidden')">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <article id="main" class="two-column">
            <header class="resume__section resume__content" id="heading">
                <div id="my_name">{{ data.name }}</div>
                <div class="info-item">
                    <span class="info-label"><i class="fa fa-location-arrow"></i></span>
                    <span class="info-text">{{ data.location }}</span>
                </div>
                <div class="info-item">
                    <span class="info-label"><i class="fab fa-linkedin"></i></span>
                    <span class="info-text"><a href="{{ data.linkedin.url }}" target="_blank">{{ data.linkedin.text }}</a></span>
                </div>
                <div class="info-item">
                    {% for website in data.website %}
                        <span class="info-label"><i class="fa fa-globe"></i></span>
                        <span class="info-text"><a href="{{ website.url }}" target="_blank">{{ website.text }}</a></span>
                    {% endfor %}
                </div>
                <div id="contact-info" class="info-item" hidden>
                    <span class="info-label"><i class="fa fa-envelope"></i></span>
                    <span id="info-email" class="editible-input info-text">@gmail.com</span>
                    <span class="info-label"><i class="fa fa-phone"></i></span>
                    <span id="info-phone" class="editible-input info-text">+977-98</span>
                </div>
            </header>
            <section class="resume__columns">
                <div class="resume__main">
                    <section class="resume__section resume__summary">
                        <h1 class="resume__section-title">Professional Summary</h1>
                        <p id="about-me" class="about-me editible-textarea">{{ data.about }}</p>
                    </section>
                    <section class="resume__section resume__skills">
                        <h1 class="resume__section-title">Skills</h1>
                        <div id="skills" class="resume__text">
                            <span class="highlight">{{ data.skills | join(" · ") | upper }}</span>
                        </div>
                    </section>
                    <section class="resume__section resume__experience">
                        <h1 class="resume__section-title">Experience</h1>
                        <div id="work_experiences" class="resume__content">
                            {% for experience in data['experiences'] %}
                                {% set experience_loop = loop %}
                                {% for instance in experience.experiences %}
                                    <div id="experience-{{ experience_loop.index }}-{{ loop.index }}" class="items{% if instance.hidden %} hidden-items{% endif %}">
                                        <h2>{{ experience.entity }}, {{ experience.location }}</h2>
                                        <span class="eye-slash-label avoid-print" onclick="toggleItemVisibility('experience-{{ experience_loop.index }}-{{ loop.index }}')">
                                            <i class="fa fa-eye-slash"></i>
                                        </span>
                                        <h3 class="editible-input">{{ instance.title_name }}</h3>
                                        <div class="highlight">{{ instance.start }} - {{ instance.end }}</div>
                                            <ul>
                                                {% for res in instance.responsibilities %}
                                                    <li>{{ res }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% if instance.skills %}
                                                <div class="highlight">{{ instance.skills }}</div>
                                            {% endif %}
                                    </div>                                
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </section>
                    <section class="resume__section resume__qualification">
                        <h1 class="resume__section-title">Education</h1>
                        <div id="academic_qualifications" class="resume__content">
                            {% for education in data['educations'] %}
                                {% set education_loop = loop %}
                                {% for instance in education.educations %}
                                    <div id="education-{{ education_loop.index }}-{{ loop.index }}" class="items{% if instance.hidden %} hidden-items{% endif %}">
                                        <h2>{{ education.entity }}, {{ education.location }}</h2>
                                        <span class="eye-slash-label avoid-print" onclick="toggleItemVisibility('education-{{ education_loop.index }}-{{ loop.index }}')">
                                            <i class="fa fa-eye-slash"></i>
                                        </span>
                                        <h3 class="editible-input">{{ instance.course_name }}</h3>
                                        <div class="highlight">{{ instance.start }} – {{ instance.end }}</div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </section>
        </article>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>
