@page :first {
  margin-top: 0;
}

@page {
  size: A4;
  margin: 1in 0in 0.5in 0in;
}

body {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}

#info-button {
  z-index: 1;
  position: absolute;
  right: 300px;
  top: 20px;
}

#eye-button {
  z-index: 1;
  position: absolute;
  right: 250px;
  top: 20px;
}

.eye-label, .eye-slash-label {
  color: grey;
}

.eye-label:hover, .eye-slash-label:hover {
  color: black;
}

.hidden-items {
  display: none !important;
}

#export-button {
  z-index: 1;
  position: absolute;
  right: 100px;
  top: 20px;
}

#print-button {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

article {
  display: block;
}

article #my_name {
  font-size: 2em;
  font-weight: 400;
}

article h1 {
  color: #2079c7;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0.3em;
  margin-top: .9em;
}

article ul {
  padding-left: 20px;
  margin-bottom: 5px;
}

article header,
article .cv__section {
  font-family: Arial, sans-serif;
}

article header {
  padding: 4em 4em 0;
}

article .cv__section-title>i {
  margin-right: 0.63em;
  font-size: 1.14em;
  background-color: #5695cd;
  color: #fff;
  border: 0.25em solid #aacae6;
  border-radius: 50%;
  width: 2.51em;
  height: 2.51em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

article .cv__content .items {
  margin-bottom: 1em;
}

article .cv__columns {
  overflow: hidden;
  padding: 4em;
  padding-top: 0;
}

article .cv__main {
  float: left;
  text-align: justify;
}

article .info-text {
    margin-right: 10px;
}

article .info-label {
  display: inline-block;
  padding-right: 0.4em;
  font-size: 1.14em;
  min-width: 2em;
  text-align: center;
}

article .info-label i {
  color: #5695cd;
}

article h2 {
  font-size: 1.15em;
  font-weight: bold;
  line-height: 0.5;
  margin-top: .3em;
  display: inline;
}

article h3 {
  font-size: 1em;
  font-style: italic;
  margin: 0px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

article .highlight {
  font-size: 0.8em;
  color: #e91d63;
}

article .details {
  padding-left: 15px;
}

@media print {
  body {
    min-width: initial !important;
  }

  .avoid-print {
    display: none;
  }
}
